/* To make a slower transition when clicking on navigation bar references */
html {
    scroll-behavior: smooth;
}

/* Making the body to fill all space of website */
body{
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-size: 25px;
}

/* Accessibility line around buttons, text boxes and links */
a:focus, button:focus, input:focus, textarea:focus{
    outline: 3px solid royalblue;
    outline-offset: 3px;
}
