/*  This container is a flex box, I want the items centered, with space 
    around between innter flex boxes
    And position sticky keeps the navigation bar visible around the page
    so the user can change the current section every time*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .7rem;
    background-color: white;
    /* To make the whole header visible everytime */
    top: 0;
    position: sticky;
    z-index: 10;
}

img#logo{
    width: 3rem;
    height: auto;
}

.nav-list{
    display: flex;
    gap: 6rem;
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0;
}

.nav-list a {
    color: black;
    text-decoration: none;
}

.social-links{
    display: flex;
    gap: .9rem;
    font-size: 1.5rem;
}