/*  This container is a flex box, I want the items centered, with space 
    around between innter flex boxes
    And position sticky keeps the navigation bar visible around the page
    so the user can change the current section every time*/
.header-container {
    display: flex;
    justify-content: space-around;
    padding: .7rem;
    background-color: white;
    /* To make the whole header visible everytime */
    top: 0;
    position: sticky;
    z-index: 10;
}

.menu-logo{
    display: flex;
    justify-content: space-between;
}

img#logo{
    width: 3rem;
    height: auto;
}

/* 
    I'll hide the button for now, I donly need it for mobile devices
    But I'll customize the button
*/
.mobile-menu{
    display: none;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #0518c5;
    font-size: 1.8rem;
    color: white;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0;
}

.nav-list a {
    color: black;
    text-decoration: none;
}

.social-links{
    display: flex;
    align-items: center;
    gap: .9rem;
    font-size: 1.5rem;
}