
.price-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "header header header"
        "basic exec pres";
    column-gap: 5rem;
    padding: 4rem 2rem;
    place-items: center;
    scroll-margin-top: 5.5rem;
}

.price-header{
    grid-area: header;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.plan-1, .plan-2, .plan-3 {
    background-color: white;
    height: 80%;
    width: auto;
    max-width: 350px;
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 10px 10px 30px darkgray;
    border: solid royalblue;
}

.plan > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-1{
    grid-area: basic;
}

.plan-2{
    grid-area: exec;
}

.plan-3{
    grid-area: pres;
}

.plan-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.plan-content button{
    margin-top: auto;
    background-color: darkblue;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border-radius: 30px;
}
