/*  
    Grid box to create a matrix for prices pannels a flex box is useful too
    But I want to practice more the grid template area and its integration
    with flex, later for smaller screen I'll stack them changing
    the matrix configuration
    The same configuration of Services Section
*/
.price-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "header header header"
        "basic exec pres";
    column-gap: 5%;
    padding: 4rem 2rem;
    place-items: center;
    scroll-margin-top: 5.5rem;
}

/*  
    This is how I link every position in the matrix with every element or
    container
*/
.price-header{
    grid-area: header;
}

.plan-1{
    grid-area: basic;
}

.plan-2{
    grid-area: exec;
}

.plan-3{
    grid-area: pres;
}

/* General container of flex boxes, I want them as a column */
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

/* 
    To change the flex box on the 3 plans only
    The size of the box must contain the button all the time so I need
    a fixed or adaptable size for containers
*/
.plan-1, .plan-2, .plan-3 {
    background-color: white;
    width: auto;
    height: 450px;
    min-width: 255px;
    border-radius: 20px;
    padding: 1rem 1rem;
    box-shadow: 10px 10px 30px darkgray;
    border: solid royalblue;
}

/*  I set the content inside flex boxes at the center
    and I change bow the buttons inside look
*/
.plan-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.plan-content button{
    margin-top: auto;
    background-color: darkblue;
    padding: 1rem;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border-radius: 30px;
}
