/*  
    Grid box to create a matrix for prices pannels a flex box is useful too
    But I want to practice more the grid template area and its integration
    with flex, later for smaller screen I'll stack them changing
    the matrix configuration
*/
.services-container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "head head head"
        "ext-washing seat-cleaning vacuuming";
        column-gap: 5rem;
        padding: 4rem 4rem;
        align-items: stretch;
    scroll-margin-top: 5.5rem;
}

/*  
    This is how I link every position in the matrix with every element or
    container
*/
.service-header{
    grid-area: head;
}

.item-1{
    grid-area: ext-washing;
}

.item-2{
    grid-area: seat-cleaning;
}

.item-3{
    grid-area: vacuuming;
}

/* General container of flex boxes, I want them as a column */
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* I need a fixed size for images on this section  */
.item img {
    max-height: 200px;
    width: 60%;
    height: 100%;
}