/* 
    The main container of slide show section
    I want it to cover most of the screen every time so I set a fixed
    height
    Position relative so I can use absoluto position for buttons and
    put them at the same position even if the screen size change
*/
.slides{
    width: 100%;
    height: min(65vh, 600px);
    position: relative;
    z-index: 1;
}

.mySlides{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 
    Buttons configuration, transition time, how it looks, how it will be positioned
    above images container that has a relative position so this absolute position
    is inside to the main container
    the z-index make it to be above the slides, is like setting a position from the 
    back to the front
*/
.display-left, .display-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    size: 10%;
    padding: 1rem;
    border: 0;
    font-size: 1.5rem;
    border-radius: 10px;
    z-index: 2;

    /* It manage the time of the animation when the hover is triggered */
    transition: background-color .5s ease-in-out .1s;
}

/* Unique position of each button */
.display-right{
    right: 1%;
}

.display-left{
    left: 1%;
}

/* 
    I want to change the color to make it look better 
    along the transition this creates an animation when the pointer is
    above the button, or clicking it
*/
.display-left:hover, .display-right:hover{
    
    background-color: rgb(34, 78, 211);
}

/* This is another flex box, contain the name of the business on the first section */
.business-name{
    display: flex;
    justify-content: center;
    padding: 0;
}

h1#business-name{
    font-size: 3.8rem;
}